.about-bg {
  max-width: 1440px;
  background-color: var(--violet);
  margin: 0 auto;
  padding: 85px 70px;
  position: relative;
}

.about-how-absolute-mobile {
  display: none;
}

.about-how-absolute {
  position: absolute;
  top: 0;
  right: 0;
}

.container-about h2 {
  color: var(--white);
  max-width: 34%;
}

.container-about {
  display: flex;
  justify-content: space-around;
}

.about-default {
  align-self: center;
  z-index: 2;
}

@media (max-width: 1024px) {
  .about-bg {
    padding: 71px 40px;
  }
}

@media (max-width: 1023px) {
  .about-how-absolute {
    display: none;
  }

  .about-how-absolute-mobile {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-about h2 {
    color: var(--white);
    max-width: 50%;
    text-align: center;
    margin-bottom: 50px;
  }
}


@media (max-width: 500px){
.container-about h2 {
  max-width: 90%;
}
}