.about-bg {
    max-width: 1440px;
    background-color: var(--violet);
    margin: 0 auto;
    padding: 85px 70px;
    position: relative;
}

.about-how-absolute {
    position: absolute;
    top: 0;
    right: 0;
}

.container-about h2 {
    color: var(--white);
    max-width: 34%;
}

.container-about {
    display: flex;
    justify-content: space-around;
}

.about-default{
    align-self: center;
}

@media (max-width:1024px) {
    .about-bg {
        padding: 65px 40px;
    }
}
