.different {
    max-width: 1440px;
    margin: 200px auto;
    padding: 0 70px;
}

.different h1 {
    margin-bottom: 100px;
    font-weight: 400;
}

.different h1::before {
    content: '';
    display: block;
    width: 105px;
    height: 1px;
    background: var(--dark_grayish_violet);
    margin-bottom: 60px;
}

.container-differnte {
    display: grid;
    gap: 10%;
    grid-template-columns: repeat(3, 1fr)
}

.content-info h3 {
    margin: 20px 0;
}

.content-info p {
    color: var(--dark_grayish_violet);
    line-height: 1.4rem;
}


@media (max-width:1024px) {
    .different {
        padding: 0 40px;
    }
}

@media (max-width:1023px) {
    .different h1 {
        text-align: center;
    }
    .container-differnte {
        display: flex;
        flex-direction: column;
    }
    .content-info {
        text-align: center;
    }
    .content-info p {
        padding: 0 170px;
    }

    
}
