.different {
    max-width: 1440px;
    margin: 200px 200px;
}

.different h1 {
    margin-bottom: 100px;
    font-weight: 400;
}

.different h1::before {
    content: '';
    display: block;
    width: 105px;
    height: 1px;
    background: var(--dark_grayish_violet);
    margin-bottom: 60px;
}

.container-differnte {
    display: grid;
    gap: 10%;
    grid-template-columns: repeat(3, 1fr)
}

.content-info h3 {
    margin: 20px 0;
}

.content-info p {
    color: var(--dark_grayish_violet);
    line-height: 1.4rem;
}