header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    max-width: 1440px;
    margin: 0 200px;
}

.header-menu{
    display: flex;
}

.header-menu ul {
    display: flex;
    margin-right: 30px;
}

.header-menu ul li {
    margin-left: 30px;
}

.header-menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--dark_grayish_violet);
    font-weight: 600;
}

.header-menu ul li a:hover {
    color: var(--dark_violet);
    font-weight: 600;
}
