header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

header > h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.header-menu ul {
    display: flex;
}

.header-menu ul li {
    margin-left: 30px;
}

.header-menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
}