.main-bg {
  background-color: var(--violet);
  position: relative;
}

.container-main {
  display: flex;
  max-width: 1440px;
  margin: 0 200px;
  position: relative;
}

.main-info {
  display: flex;
  flex-direction: column;
  padding:100px 0 160px 0;
}

.main-info h1,
.main-info p,
.main-info a {
  color: var(--white);
}

.main-info h1::before {
  content: "";
  display: block;
  width: 105px;
  height: 1px;
  background: var(--white);
  margin-bottom: 60px;
}

.main-info p {
  margin: 30px 0;
}

.main-info p {
  max-width: 42%;
  line-height: 1.5rem;
}

.main-photo-absolute {
  position: absolute;
  right: 0.1%;
  top: 17.2%;
  bottom: 0;
}

.intro-rigth-absolute {
  position: absolute;
  right:0;
  top: 0;
  transform: translate(0 0);
  z-index: 1;
}

.intro-left-absolute {
  position: absolute;
  left: 0;
  top: 60%;
  z-index: 1;
}
