.main-bg {
  background-color: var(--violet);
  position: relative;
}

.container-main {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.main-info {
  display: flex;
  flex-direction: column;
  padding: 100px 70px 160px 70px;
}

.main-info h1,
.main-info p,
.main-info a {
  color: var(--white);
}

.main-info h1::before {
  content: "";
  display: block;
  width: 105px;
  height: 1px;
  background: var(--white);
  margin-bottom: 60px;
}

.main-info p {
  margin: 30px 0;
}

.main-info p {
  max-width: 42%;
  line-height: 1.5rem;
}

.main-photo-absolute-mobile{
  display: none;
}

.main-photo-absolute {
  position: absolute;
  right: 4.9%;
  top: 17.2%;
  bottom: 0;
}

.intro-rigth-absolute {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0 0);
  z-index: 1;
}

.intro-left-absolute {
  position: absolute;
  left: 0;
  top: 60%;
  z-index: 1;
}

@media (max-width: 1024px) {
  .main-info {
    display: flex;
    flex-direction: column;
    padding: 100px 40px 160px 40px;
  }

  .main-photo-absolute {
    position: absolute;
    right: 4%;
    top: 16.5%;
    bottom: 0;
  }
}
